1.drawio
Day1.drawio
HA Cluster.yaml
"It\342\200\231s All about the pod.pdf"
K8s Core concepts.pdf
K8sMonitoring.drawio
K8s_Controllers.drawio
K8s_Course_Content.docx
K8s_LAB.yaml
K8s_Storage.drawio
K8s_Storage_1.drawio
Kubectl_Communication.yaml
Kubernetes Architecture.drawio
Kubernetes Controllers.yaml
Kubernetes Day 2.pdf
Kubernetes Installation.yaml
Kubernetes Monitoring.drawio
Kubernetes.yaml
KubernetesMonitoring.yaml
Kubernetes_Arch.yaml
Kubernetes_Storage.yaml
Kubernetes_in_Action.pdf
Label_Selectors.drawio
Labels and Selectors.yaml
Labels and Selectors_LAB.yaml
POD.yaml
RealWorlsApplicatrion.yaml
Service_LAB
StatefulSets.drawio
Understanding_The_Flow.md

It’s All about the pod.pdf
KubernetesInstalltion.drawio
